<h1>
  List of all movies
</h1>

<table border="1">
<% @list_of_movies.each do |a_thing|  %>
<tr>
  <td> <%= a_thing.id %> </td>
  <td> 
    <img src="<%= a_thing.image %>">"
  </td>
  <td> <%= a_thing.title %> </td>
  <% director_id = a_thing.director_id %>
  <% director = Director.where({:id => director_id}).at(0) %>
  <td> <%= director.name %> </td>
  <td> 
    <a href="/movies/<%= a_thing.id %>" style="width:250px;">
    Show details
    </a>
  </td>
</tr>
<% end %>
</table>
